body{
    font-weight: 500;
    color: #093f4b;
    font-size: 1rem;
}

p{
   
    font-family: open sans-serif;

}

a{
    text-decoration: none;
    color:#093f4b;
}

a.login-btn{
     color: #fff;
}

span{
    opacity: 0.6;
}

.heading{
font-family:'Times New Roman', Times, serif;
font-weight:600;
font-size: 2rem;
}
.forgot{
    margin-left:20%;

    
}

.col-sm-4{
    background-color: #093f4b;
    padding: 3rem;

}

.logo-title{
    color: #d9d9d9;
}
.form-control{
    background-color:#d9d9d9;
    padding: 1rem;
     margin-top: 2rem; 
    border-radius: 1rem;
     width: 70%; 
     margin-left : 20%
}

.task-btn{
    background-color:#093f4b;
    color: #fff;
    width: 70%;
   margin-left: 20%;
   padding: 0.8rem;
   border-radius: 1rem;
   text-decoration: none;
   
   
}
.btn-google{
background-color: #fff;
box-shadow: 5px 10px 8px #a1a983;
padding: 0.8rem;
width: 70%;
margin-left : 20%;
}

.google{
    
    text-align: center;
    
}
.signup-text{
    padding: 3rem;
    margin-left: 15%;
}


